{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!
{% endblock %}

{% block body %}


	<div class="profileBody">


		<p>


			vous êtes connecté

		</p>


		{# affichage des données user #}

		<p>

			{{ app.user.lastname}}
		</p>
		<p>
			{{ app.user.firstname}}
		</p>
		<p>
			{{ app.user.address}}
		</p>
		<p>
			{{ app.user.email}}
		</p>
		<p>
			0{{ app.user.phone}}


		</p>


	</div>
{% endblock %}
