<div class="navBody">
	<nav>


		<ul class="menu_list">
			<li>
				<a href="{{ path('index') }}">Accueil</a>
			</li>

			<li>
				<a href="{{ path('class_room') }}">Classes</a>
			</li>
			{# <li class="logo">
																																																																<img src="/assets/img/logo.png" alt="">
																																																															</li> #}


			<li>
				<a href="{{ path('posts') }}">Articles</a>
			</li>
			{% if app.user %}
				{# MODIFICATION DE LA NAVBAR QUAND C'EST L'ADMIN #}
				<li>
					<a href="{{ path('app_logout') }}">Se déconnecter</a>
				</li>
				<li>
					<a href="{{ path('user_profile') }}">Mon profil</a>
				</li>
				{% if is_granted('ROLE_ADMIN') %}
					<li>
						<a href="{{ path('admin') }}">Espace ADMIN</a>
					</li>
				{% endif %}
			{% else %}
				<li>
					<a href="{{ path('app_login') }}">Se connecter</a>
				</li>
			{% endif %}

		</ul>


		<i class="fas fa-bars" id="burgerlogo"></i>


		<ul class="liens_burger">
			<li>
				<a href="{{ path('index') }}">Accueil</a>
			</li>

			<li>
				<a href="{{ path('class_room') }}">Classes</a>
			</li>
			{# <li class="logo">
																																																																<img src="/assets/img/logo.png" alt="">
																																																															</li> #}


			<li>
				<a href="{{ path('posts') }}">Articles</a>
			</li>
			{% if app.user %}
				{# MODIFICATION DE LA NAVBAR QUAND C'EST L'ADMIN #}
				<li>
					<a href="{{ path('app_logout') }}">Se déconnecter</a>
				</li>
				<li>
					<a href="{{ path('user_profile') }}">Mon profil</a>
				</li>
				{% if is_granted('ROLE_ADMIN') %}
					<li>
						<a href="{{ path('admin') }}">Espace ADMIN</a>
					</li>
				{% endif %}
			{% else %}
				<li>
					<a href="{{ path('app_login') }}">Se connecter</a>
				</li>
			{% endif %}
		</ul>


	</nav>
</div>
